.main {
    height: 100%;
    width: auto;
    background-color: var(--bg-primary);
    color: white;
    text-align: center;
    margin-inline-end: 5rem;
    padding: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}
