/** LAYOUT */

.main {
    height: 100%;
    width: auto;
    background-color: var(--bg-primary);
    color: white;
    text-align: center;
    margin-inline-end: 5rem;
    padding: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

@media screen and (orientation: portrait) {
  .main {
    flex-direction: column;
  }
}

.layout-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#computer-column{
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}

#tabletWarning{
	background-color: grey;
	color: white;
	display:inline-block;
}

.hflex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/** INPUT **/

/*
Glowing Blue Input Highlights <Start>
Ref: https://css-tricks.com/snippets/css/glowing-blue-input-highlights/
*/

.highlightable-input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 3px solid var(--border-line-editable);
    background-color: var(--bg-editable);
}

.highlightable-input:focus-within {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

input:invalid {
    box-shadow: 0 2px firebrick;
    transition: all 0.2s ease-in-out;
}

/* Glowing Blue Input Highlights <End> */

/** CONTROL **/

.control-group {
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid var(--border-line-dark);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.control-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--bg-primary);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    height: 100%;
    width: 100%;
}

.control-container > svg {
    height: 1rem;
    color: var(--bg-contrast-primary);
}

.control {
    height: 2rem;
    width: 100%;
    background-color: transparent;
    color: var(--bg-contrast-primary);
    border: none;
}

.control:hover, .control:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.control-container label {
    width: 100%;
    color: var(--bg-contrast-primary);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

select.control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
    font-family: inherit;
    cursor: pointer;
}

select.control > option {
    background-color: var(--bg-secondary);
}

/** BUTTON **/

button {
    border: none;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 0.7px;
    outline: none;
}

button:hover:enabled, div[role=button]:hover {
    cursor: pointer;
    filter: brightness(90%);
}

button:disabled {
    cursor: default;
    filter: brightness(125%);
}

.std-btn {
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    font-weight: bold;
}

/** OTHER **/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.hidden {
    display: none !important;
}
