/*Courier Prime*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
    --bg-primary: #384047;
    --bg-secondary: #1E272E;
    --border-line: #9583FF;
    --border-line-light: #4d5864;
    --border-line-dark: #3c3c3c;
    --bg-contrast-primary: #ececec;
    --bg-contrast-secondary: #b6b6b6;
    --border-line-editable: #81b1ff;
    --bg-editable: #262d33;
    --grey: #ccc;
    --blue: #2196F3;
    --baby-blue: #4873FF;
    --light-grey: #D3D3D3;
    --light-green: #2ab425;
    --light-purple: #9837e7;
    --dark-grey: #30383F;
    --light-red: #e63737;
}

code, .code {
    font-family: "Courier Prime", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}